ZMK_COMBO(enter,     &th RS(RGUI) ENTER, RM1 RM2, BASE)
ZMK_COMBO(tab,       &th LS(LGUI) TAB,   LB2 LB1, BASE)
ZMK_COMBO(copy,      &kp LG(C),          LB2 LB1, BASE)
ZMK_COMBO(cut,       &kp LG(X),          LB3 LB2, BASE)
ZMK_COMBO(paste,     &kp LG(V),          LB3 LB1, BASE)
ZMK_COMBO(undo,      &kp LG(Z),          LB4 LB3, BASE)
ZMK_COMBO(caps-word, &caps_word,         LB4 LB3, BASE)