//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Media       1
#define Nav         2
#define Mouse       3
#define Sym         4
#define Num         5
#define Fun         6
#define Button      7
#define Game        8
#define Gameplus    9

/ {
    behaviors {
        tdl: tdl {
            compatible = "zmk,behavior-tap-dance";
            label = "Tap Dance Left";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp LEFT>, <&kp LA(LEFT_ARROW)>;
        };

        tdr: tdr {
            compatible = "zmk,behavior-tap-dance";
            label = "Tap Dance Right";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp RIGHT>, <&kp LA(RIGHT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base";
            bindings = <
           &kp Q  &kp W  &kp E    &kp R        &kp T      &kp Y     &kp U      &kp I      &kp O    &kp P
           &kp A  &kp S  &kp D    &kp F        &kp G      &kp H     &kp J      &kp K      &kp L    &kp SEMI
&kp GRAVE  &kp Z  &kp X  &kp C    &kp V        &kp B      &kp N     &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp SQT
                         &kp ESC  &lt 1 SPACE  &kp TAB    &kp BSPC  &kp SPACE  &kp RALT
            >;
        };

        Nav {
            bindings = <
       &none      &none     &none      &none     &none                       &none  &none     &none          &none        &none
       &kp LCTRL  &kp LALT  &kp LSHFT  &kp LGUI  &kp LS(LA(LC(LEFT_GUI)))    &none  &tdl      &kp DOWN       &kp UP       &tdr
&none  &none      &none     &none      &none     &none                       &none  &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END  &none
                            &none      &none     &none                       &none  &none     &none
            >;
        };
    };
};
